Restaurante/vista/Service References/Service_Venta_BackUp/NewWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarVenta" type="tns:buscarVenta" />
  <xs:element name="buscarVentaResponse" type="tns:buscarVentaResponse" />
  <xs:element name="crearVenta" type="tns:crearVenta" />
  <xs:element name="crearVentaResponse" type="tns:crearVentaResponse" />
  <xs:element name="listarVentas" type="tns:listarVentas" />
  <xs:element name="listarVentasResponse" type="tns:listarVentasResponse" />
  <xs:element name="ventasBackup" type="tns:ventasBackup" />
  <xs:complexType name="buscarVenta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarVentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearVenta">
    <xs:sequence>
      <xs:element name="idd" type="xs:int" />
      <xs:element name="subtot" type="xs:int" />
      <xs:element name="propin" type="xs:int" />
      <xs:element name="total_r" type="xs:int" />
      <xs:element name="pedido_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearVentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVentas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVentasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ventasBackup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ventasBackup">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRes" type="xs:decimal" />
      <xs:element minOccurs="0" name="pedidoidRes" type="xs:integer" />
      <xs:element minOccurs="0" name="propinaRes" type="xs:integer" />
      <xs:element minOccurs="0" name="subtotalRes" type="xs:integer" />
      <xs:element minOccurs="0" name="totalRes" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>