Restaurante/vista/Service References/Service_Venta_BackUp/NewWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="NewWebService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.20.66.109:8080/Examen/NewWebService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="buscarVenta">
    <part name="parameters" element="tns:buscarVenta" />
  </message>
  <message name="buscarVentaResponse">
    <part name="parameters" element="tns:buscarVentaResponse" />
  </message>
  <message name="listarVentas">
    <part name="parameters" element="tns:listarVentas" />
  </message>
  <message name="listarVentasResponse">
    <part name="parameters" element="tns:listarVentasResponse" />
  </message>
  <message name="crearVenta">
    <part name="parameters" element="tns:crearVenta" />
  </message>
  <message name="crearVentaResponse">
    <part name="parameters" element="tns:crearVentaResponse" />
  </message>
  <portType name="NewWebService">
    <operation name="buscarVenta">
      <input wsam:Action="http://Servicios/NewWebService/buscarVentaRequest" message="tns:buscarVenta" />
      <output wsam:Action="http://Servicios/NewWebService/buscarVentaResponse" message="tns:buscarVentaResponse" />
    </operation>
    <operation name="listarVentas">
      <input wsam:Action="http://Servicios/NewWebService/listarVentasRequest" message="tns:listarVentas" />
      <output wsam:Action="http://Servicios/NewWebService/listarVentasResponse" message="tns:listarVentasResponse" />
    </operation>
    <operation name="crearVenta">
      <input wsam:Action="http://Servicios/NewWebService/crearVentaRequest" message="tns:crearVenta" />
      <output wsam:Action="http://Servicios/NewWebService/crearVentaResponse" message="tns:crearVentaResponse" />
    </operation>
  </portType>
  <binding name="NewWebServicePortBinding" type="tns:NewWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVentas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NewWebService">
    <port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
      <soap:address location="http://10.20.66.109:8080/Examen/NewWebService" />
    </port>
  </service>
</definitions>